doctype html
html
  head
    script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
  body
      div
        form(method= 'POST', action= '/surveys')
            input#nameField(name= 'surveyName', placeholder= 'Name')
            input#questionField(name= 'question', placeholder= 'Question')
            select#fieldType
              option(value= 'radio') radio
              option(value= 'checkbox') checkbox
              option(value= 'input') input
            input#answerField(name= 'answer', placeholder= 'Answer')
            input#addAnswer(type= 'button', value= 'Add answer')
            input#addQuestion(type= 'button', value= 'Add question')
            input#generate(type= 'button', value= 'GENERATE')
      div#generated
      if answers != 0
        div
          h3= 'Twoje odpowiedzi'
          ul
            each answer, question in answers
              li= question + ': ' + answer
      script.

        $(document).ready(generateFormStorage())
        
        var surveyToGenerate = new Object();
        surveyToGenerate.questions = [];

        var answers = [];
        $('#addAnswer').click(function() {
          var toAdd = $('#answerField').val();
          answers.push(toAdd);
          $('#answerField').val('').focus();
        });

        $('#addQuestion').click(function() {
            if (surveyToGenerate.name == undefined)
              surveyToGenerate.name = $('#nameField').val();

            var fieldType = $('#fieldType').val();
            surveyToGenerate.questions.push({
              questionName: $('#questionField').val(),
              answers: answers,
              fieldType: fieldType
              });

            answers = [];
            $('#questionField').val('').focus();
            $('#answerField').val('');
        });

        $('#generate').click(function() {
          sessionStorage.setItem(surveyToGenerate.name, JSON.stringify(surveyToGenerate));
          generateSurvey(surveyToGenerate);
          });

          function generateSurvey(toGenerate) {
            var formId = toGenerate.name.replace(/\s/g , '_');
            $('#generated').append($('<form id='+formId+'>'));
            formId = '#'+formId;
            $(formId).attr({action: '/', method: 'POST'});
            $(formId).append('<h1>'+toGenerate.name+'</h1>');
            $(formId).append('<input style="display: none" value="'+toGenerate.name+'" name="surveyName">')

            toGenerate.questions.forEach(function(question){
              $(formId).append('<h3>'+question.questionName+'</h3>')

              question.answers.forEach(function(answer) {
                var input = '<label><input name="'+question.questionName+
                '" type="'+question.fieldType+'" value="'+answer+'">'+answer+'</label>';
                $(formId).append($(input));
                });
              });
              var submit = '<input type = "submit"/>'
              $(formId).append(submit);

              $('#nameField').val('').focus();
              $.post('/surveys', toGenerate)

              surveyToGenerate = {};
              surveyToGenerate.questions = [];
          }
          function generateFormStorage() {
            for (var survey in sessionStorage) {
              var parsed = JSON.parse(sessionStorage[survey]);
              generateSurvey(parsed);
            }
          }
