doctype html
html
  head
    script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
  body
      div
        form#surveyFields
            input#nameField(name= 'surveyName', placeholder= 'Name')
            input#questionField(name= 'question', placeholder= 'Question')
            select#fieldType
              option(value= 'radio') radio
              option(value= 'checkbox') checkbox
              option(value= 'input') input
            input#answerField(name= 'answer', placeholder= 'Answer')
            input#addAnswer(type= 'button', value= 'Add answer')
            input#addQuestion(type= 'button', value= 'Add question')
            input#generate(type= 'submit', value= 'GENERATE')
      div#generated
      script
        include script.js
      script.
        surveysArray = !{JSON.stringify(surveys)}
        console.log(surveysArray)
        for (let survey of surveysArray) {
          survey = JSON.parse(survey.survey)
          if (survey.name)
            generateSurvey(survey)
        }
      if answers != 0
        div
          h3= 'Twoje odpowiedzi'
          ul
            each answer, question in answers
              if question != '_id'
                li= question + ': ' + answer
          -var percent = Math.round((givenAnswersCount/allAnswersCount)*100)
          p= 'Takiej samej odpowiedzi udzielono '+givenAnswersCount+' razy. Jest to '+percent+'% wszystkich odpowiedzi'
