doctype html
html
  head
    script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
  body
      div
        form(method= 'POST', action= '/surveys')
            input#nameField(name= 'surveyName', placeholder= 'Name')
            input#questionField(name= 'question', placeholder= 'Question')
            select#fieldType
              option(value= 'radio') radio
              option(value= 'checkbox') checkbox
              option(value= 'input') input
            input#answerField(name= 'answer', placeholder= 'Answer')
            input#addAnswer(type= 'button', value= 'Add answer')
            input#addQuestion(type= 'button', value= 'Add question')
            input#generate(type= 'button', value= 'GENERATE')
      div#generated
      script.

        var surveyToGenerate = new Object();
        surveyToGenerate.questions = [];

        var answers = [];
        $('#addAnswer').click(function() {
          var toAdd = $('#answerField').val();
          answers.push(toAdd);
          $('#answerField').val('').focus();
        });

        $('#addQuestion').click(function() {
            if (surveyToGenerate.name == undefined)
              surveyToGenerate.name = $('#nameField').val();

            var fieldType = $('#fieldType').val();
            surveyToGenerate.questions.push({
              questionName: $('#questionField').val(),
              answers: answers,
              fieldType: fieldType
              });

            answers = [];
            $('#questionField').val('').focus();
            $('#answerField').val('');
        });

        $('#generate').click(function() {
          sessionStorage.setItem(surveyToGenerate.name, JSON.stringify(surveyToGenerate));
          generateSurvey(surveyToGenerate);
          });

          function generateSurvey(toGenerate) {
            var id = toGenerate.name.replace(/\s/g , '_')
            $('#generated').append($('<form id='+id+'>'));
            $('#'+id).attr({action: '/', method: 'POST'})
            $('#'+id).append('<h1>'+toGenerate.name+'</h1>')
            toGenerate.questions.forEach(function(question){
              $('#'+id).append('<h3>'+question.questionName+'</h3>')
              question.answers.forEach(function(answer) {
                var input = '<label><input name="'+question.questionName+'" type="'+question.fieldType+'">'+answer+'</label>';
                $('#'+id).append($(input));
                });
              });
              var submit = '<input type = "submit"/>'
              $('#'+id).append(submit);
              $('#nameField').val('').focus();
              surveyToGenerate = {};
              surveyToGenerate.questions = [];
          }
