doctype html
html
  head
    body
      script= surveyTemplate
      if answers.length != 0
        div
          h3= 'Twoje odpowiedzi'
            ul
              each answer, question in answers
                li= question + ': ' + answer
