doctype html
html
  head
    script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js')
  body
      div
        form#surveyFields
            input#nameField(name= 'surveyName', placeholder= 'Name')
            input#questionField(name= 'question', placeholder= 'Question')
            select#fieldType
              option(value= 'radio') radio
              option(value= 'checkbox') checkbox
              option(value= 'input') input
            input#answerField(name= 'answer', placeholder= 'Answer')
            input#addAnswer(type= 'button', value= 'Add answer')
            input#addQuestion(type= 'button', value= 'Add question')
            input#generate(type= 'submit', value= 'GENERATE')
      div#generated
      script
        include script.js
      if answers != 0
        div
          h3= 'Twoje odpowiedzi'
          ul
            each answer, question in answers
              li= question + ': ' + answer
